 * {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-button-width: 150px;
  --nav-button-border-size: 1px;
}

ul {
  list-style: none;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  margin-bottom: 2em;
}

.nav-list{
  font-size:0px;
  margin-left: 40px;
  margin-top: 20px;
  text-align:center;
}
.list-item {
  position: relative;
  display: inline-block;
  border: var(--nav-button-border-size) solid #3c805b;
  background-color: #47986d;
  font-size: 16px;
  color: white;
}

.list-item:hover {
  background-color: #3c805b;
}

.link {
  display: block;
  padding: 10px 30px;
  text-align: center;
  text-transform: capitalize;
  min-width: var(--nav-button-width);
  max-width: var(--nav-button-width);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sub-nav-list {
  position: absolute;
  left: calc(var(--nav-button-border-size) * -2);
  right: calc(var(--nav-button-border-size) * -2);
  display: none;
}

.list-item:hover > .sub-nav-list {
  display: block;
}

.sub-nav-item {
  display: block;
}

.nav-display-right {
  top: calc(var(--nav-button-border-size) * -1);
  left: 100%;
  right: -100%;
} 